@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-us_input {
  appearance: none;
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-family: "General Sans Regular", "General Sans", Inter, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.07);
  color: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
}

@layer components {
  .contact-us_input-additional {
    @apply my-3;
  }
}

.contact-us-main {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
}

@keyframes fadein {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }
}

.fadeShine {
  overflow: hidden;
}
.fadeShine::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(22, 22, 22, 0.3) 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.fadeShine::before,
.fadeShine:focus::before {
  -webkit-animation: fadeShine 0.85s;
  animation: fadeShine 0.85s;
}
@-webkit-keyframes fadeShine {
  100% {
    left: 125%;
  }
}
@keyframes fadeShine {
  100% {
    left: 125%;
  }
}
