.ButtonContainer {
    background-color: rgb(84, 242, 166);
    width: 100%;
    border-radius: 7px;
    opacity: 1;
    color: black;
    transition: background-color 0.3s ease, opacity 0.3s ease, color 0.3s ease, padding 0.3s ease;
    position: relative;
}

.ButtonText {
    transition: width 0.3s ease;
}

.Buttonsvg {
    transition: transform 0.3s ease;
    position: absolute;
    right: 10px;
    margin: 4px;
}

.ButtonContainer:hover {
    background-color: rgb(64, 222, 146);
}

.ButtonContainer:hover .Buttonsvg {
    transform: translateX(5px);
}
