@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {


}

:root{
  background-color: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

body {
  width: 1100px;
  overflow-x: hidden;

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
