@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
}

:root {
  background-color: #0b0b0b;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.line {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(171, 171, 171, 0) 100%
  );
  flex: none;
  height: 20%;
  left: -78px;
  overflow: hidden;
  position: absolute;
  top: 145px;
  width: 80%;
  z-index: -2;
}

.line2 {
  top: 73px;
  left: -117px;
}

.line::after {
  content: "";
  border-width: 1px 0 0 0;
  border-color: rgba(238, 238, 238, 0.1);
  border-style: solid;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}
