.header-button-content {
  overflow: hidden;
  animation: open-header-animation 1s;
  text-overflow: ellipsis;
}

@keyframes open-header-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
